
/* CRIANDO BARRA DE MENU HORIZONTAL FIXA */
/* "segredos" = position:fixed; top:0; wid:100%; etc */

body { margin: 0; }

ul.horizontal-bar-fixed
{
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.horizontal-bar-fixed li
{
    float:left;
}

ul.horizontal-bar-fixed li a
{
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;    
}

ul.horizontal-bar-fixed li a:hover:not(.active)
{
    background-color: #111;
}

.active
{
    background-color: #a91c1c;
}

.content
{
    margin: 1em;
}