
ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* CRIA BARRA DE MENU VERTICAL */
ul.vertical-bar
{
    width: 200px;
    background-color: rgb(76, 76, 150);
}

/* "display:block" = Define que a lista sera vertical */
.vertical-bar li, .vertical-bar a
{
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

.vertical-bar li:hover
{
    background-color: rgb(21, 21, 49);
    font-weight: bold;
}

.vertical-bar .active
{
    background-color: rgb(36, 36, 235);
    font-weight: bold;
}

/* CRIA BARRA DE MENU VERTICAL COM BORDA */
ul.vertical-bar-bordered
{
    width: 250px;
    background-color: darkgreen;
    border: 2px solid chartreuse;;
}

.vertical-bar-bordered li
{
    text-align: center;
    border-bottom: 2px solid chartreuse;
    cursor: pointer;
}

.vertical-bar-bordered li:last-child
{
    border-bottom: none;
}

.vertical-bar-bordered li, .vertical-bar-bordered a
{
    display: block;
    color: chartreuse;
    padding: 8px 16px;
    text-decoration: none;
}

.vertical-bar-bordered li:hover, .vertical-bar-bordered a:hover
{
    background-color: darkolivegreen;
    color: white;
}
