
/* CRIANDO GALERIA DE IMAGEM */

/* Div galeria */
.gallery { padding: 10px; border: 1px solid #ccc; }
.gallery:hover { border: 1px solid rgb(143, 142, 142); }

/* Imagem */
.gallery img { width: 100%; height: auto; }

/* Descricao */
.description  { padding: 15px; text-align: center; }

* { box-sizing: border-box; }

/* Classe responsavel pela responsividade */
.responsive
{
    padding: 0 6px;
    float: left;
    width: 24.9999%;
}

/* TABLET */
@media only screen and (max-width: 700px)
{
    .responsive { width: 49.99999%; margin: 6px 0; }
}

/* MOBILE */
@media only screen and (max-width: 500px)
{
    .responsive { width: 100%; }
}